{% extends 'base.html' %}

{% block title %}
Grievance
{% endblock %}

{% block content %}
<form method="post" action="/">
<div class="mb-3">
  <label for="name" class="form-label">Name:</label>
  <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name here..." required="required"/>
</div>
<div class="mb-3">
  <label for="course" class="form-label">Course:</label>
  <select class="form-select" id="course" name="course" required="required" onchange="update_department()">
    <option hidden="hidden" disabled="disabled" selected="selected" value=""> -- select your course type -- </option>
    <option value="ug">UG</option>
    <option value="pg">PG</option>
    <option value="general">General</option>
  </select>
</div>
<div class="mb-3">
  <label for="department" class="form-label">Department:</label>
  <select class="form-select" id="department" name="department" required="required">
    <option hidden="hidden" disabled="disabled" selected="selected" value=""> -- select your course type first -- </option>
  </select>
</div>
<div class="mb-3">
  <label for="sem" class="form-label">Semester:</label>
  <select class="form-select" id="sem" name="sem" required="required">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
</div> 
<div class="mb-3">
  <label for="reg_no" class="form-label">Registration Number:</label>
  <input type="text" class="form-control" id="reg_no" name="reg_no" placeholder="Enter your registration number here..." required="required" />
</div>
<div class="mb-3">
  <label for="roll_no" class="form-label">Roll Number:</label>
  <input type="text" class="form-control" id="roll_no" name="roll_no" placeholder="Enter your roll number here..." required="required" />
</div>
<div class="mb-3">
  <label for="contact" class="form-label">Contact Number:</label>
  <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter your contact number here..." required="required" />
<div class="mb-3">
  <label for="email" class="form-label">Email Address:</label>
  <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required="required" />
</div>
<div class="mb-3">
  <label for="grievance" class="form-label">Grievance:</label>
  <textarea class="form-control" id="grievance" name="grievance" rows="7" maxlength="500" placeholder="Enter your text here..."></textarea>
</div>
<div class="mb-3">
  <input type="submit" class="form-control" value="Submit" />
</div>
</form>
<script src="{{ url_for('static', filename='grievance.js') }}"></script>
{% endblock %}
