{% extends 'other_base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<form method="post" action="{{ url_for('redressal.login') }}">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required="required" placeholder="Enter your username here..." />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required="required" placeholder="Enter your password here..." />
  </div>
  <div class="mb-3">
    <input type="submit" class="form-control" value="Submit" />
  </div>
</form>
{% endblock %}
